@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

body {
  font-family:'Inter Tight' important;
}

option{
  background:rgba(0, 0, 0,0.85);
  color:rgb(255, 255, 255);
  border:none;
}
